#wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 0.16fr 0.68fr 0.16fr;
    width: 100%;
    height: 60px;
    background: white;
}
#logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}
#titleText {
    font-weight: 500;
    font-size: 20px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: #504e4e;
}
#titleImage {
    height: 35px;
	width: 35px;
}
#headerMid {
    display: flex;
    align-items: center;
}
#headerSearch {
    height: 55%;
    width: 55%;
    border-radius: 0.3rem;
    border: 1px rgba(128, 128, 128, 0.4) solid;
    padding-left: 0.5rem;
    margin-left: 17px;
}
#userProfile {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding-right: 1rem;
}
#userName {
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#userPic {
    height: 35px;
    width: 35px;
    background-color: yellow;
    border-radius: 50%;
}
#menu{
    height: 30px;
    position: absolute;
}
#box1{
    width:190px;
    height:600px;
    background: white;
    position: absolute;
    top: 40px; 
    z-index: -1;
}
#mainContent {
    display: grid;
    grid-template-columns: 0.16fr 0.68fr 0.16fr;
}
#menuList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}
#menuList a {
    text-decoration: none;
}
#menuList a li {
    color: grey;
    display: flex;
    gap: 0.3rem;
} 
.profilebg{
    position:absolute;
    top: 70px;
    left: 400px;
    max-width: 100%;
    max-height: 100%;
}
